<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="dist/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Logistic</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <!--ID ROOT-->
    <div id="root">

        <!--HEADER-->
        <header>
            <!--Top Header Nav-->
            <div class="top-header-nav-container">
                <!--Top Header Intro-->
                <div>
                    <p>{{topHeaderIntro}}</p>
                </div>
                <!--End Top Header Intro-->
                <!--Top Header Nav-->
                <div>
                    <ul>
                        <li v-for="(elements, index) in topHeaderNav">{{topHeaderNav[index]}}</li>
                    </ul>
                </div>
                <!--End Top Header Nav-->
            </div>
            <!--End Top Header Nav-->
            <!--Header Logo-->
            <div class="header-logo-container">
                <img :src="headerLogo" alt="logo-default-slim">
            </div>
            <!--END Header Logo-->
            <hr>

            <!--Header Nav-->
            <div class="header-nav-container">
                <!--Nav-->
                <div>
                    <ul>
                        <li v-for="(element, index) in headerNav">{{headerNav[index]}}</li>
                    </ul>
                </div>
                <!--End Nav-->
                <!--Search-->
                <div>
                    <a href="#"><i class="fas fa-search"></i></a>
                </div>
                <!--End Search-->
            </div>
            <!--End Header Nav-->
        </header>
        <!--END HEADER-->

        <!--MAIN-->
        <main>
            <!--Top Main Articles-->
            <div class="top-main-articles-container">
                <!--Article container-->
                <div class="top-article-container-photography">
                   <div class="article-type">
                       <h3>PHOTOGRAPY</h3>
                   </div>
                   <div class="article-title">
                       <h2>How to take Better Concert Pictures in 30 Seconds</h2>
                   </div>
                </div>
                <!--Article container-->
                <div class="top-article-container-gadgets">
                    <div class="article-type">
                        <h3>GADGETS</h3>
                    </div>
                    <div class="article-title">
                        <h2>Gadgets That Make Your Smartphone Even Smarter</h2>
                    </div>
                </div>
                <!--Article container-->
                <div class="top-article-container-travel">
                    <div class="article-type">
                        <h3>TRAVEL</h3>
                    </div>
                    <div class="article-title">
                        <h2>20 Top-Rated Tourist Attracction in Manhattan</h2>
                    </div>
                </div>
                <!--Article container-->
                <div class="top-article-container-lifestyle">
                    <div class="article-type">
                        <h3>LIFESTYLE</h3>
                    </div>
                    <div class="article-title">
                        <h2>The Best Way to Ride a Motorcycle</h2>
                    </div>
                </div>
                <!--Article container-->
                <div class="top-article-container-travel-second">
                    <div class="article-type">
                        <h3>TRAVEL</h3>
                    </div>
                    <div class="article-title">
                        <h2>5 Fun Things to do at the Beach</h2>
                    </div>
                </div>
                <!--Article container-->
                <div class="top-article-container-recipes">
                    <div class="article-type">
                        <h3>RECIPES</h3>
                    </div>
                    <div class="article-title">
                        <h2>Amazingly Fresh Fruit And Herb Drinks For Summer</h2>
                    </div>
                </div>     
            </div>
            <!--End Top Main Articles-->
            <!--Top Main Posts-->
            <div class="top-main-posts-container">
                <!--Popular Posts-->
                <div class="popular-posts-container">
                    <div class="post-type">
                        <h2>Popular Posts</h2>
                    </div>
                    <div class="posts">
                        <!--Single Post-->
                        <div class="post">
                            <div class="post-img">
                                <img src="img/blog-55.jpg" alt="blog-55">
                            </div>
                            <div class="post-info">
                                <h4>Simple Ways to Have a Pretty Face</h4>
                                <p>January 12,2019</p>
                            </div>
                        </div>
                        <hr>
                        <!--Single Post-->
                        <div class="post">
                            <div class="post-img">
                                <img src="img/blog-56.jpg" alt="blog-56">
                            </div>
                            <div class="post-info">
                                <h4>Ranking the greatest players in basketball</h4>
                                <p>January 12,2019</p>
                            </div>
                        </div>
                        <hr>
                        <!--Single Post-->
                        <div class="post">
                            <div class="post-img">
                                <img src="img/blog-57.jpg" alt="blog-57">
                            </div>
                            <div class="post-info">
                                <h4>4 Ways to look Cool in Glasses</h4>
                                <p>January 12,2019</p>
                            </div>
                        </div>
                        <hr>
                        <!--Single Post-->
                        <div class="post">
                            <div class="post-img">
                                <img src="img/blog-58.jpg" alt="blog-58">
                            </div>
                            <div class="post-info">
                                <h4>Top Camper Trailer Towing Tips</h4>
                                <p>January 12,2019</p>
                            </div>
                        </div>
                        <hr>
                        <!--Single Post-->
                        <div class="post">
                            <div class="post-img">
                                <img src="img/blog-59.jpg" alt="blog-59">
                            </div>
                            <div class="post-info">
                                <h4>5 lovely Walks in New York</h4>
                                <p>January 12,2019</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Popular Posts-->
                <!--Recent Posts-->
                <div class="recent-posts-container">
                    <div class="post-type">
                        <h2>Recent Posts</h2>
                    </div>
                    <div class="posts">
                        <!--Single Post-->
                        <div class="post">
                            <div class="post-img">
                                <img src="img/blog-65.jpg" alt="blog-65">
                            </div>
                            <div class="post-info">
                                <h4>Main Reasons To Stop Texting And Driving</h4>
                                <p>January 12,2019</p>
                            </div>
                        </div>
                        <hr>
                        <!--Single Post-->
                        <div class="post">
                            <div class="post-img">
                                <img src="img/blog-66 (1).jpg" alt="blog-66 (1)">
                            </div>
                            <div class="post-info">
                                <h4>Tips to Help You Quickly Prepare your Lunch</h4>
                                <p>January 12,2019</p>
                            </div>
                        </div>
                        <hr>
                        <!--Single Post-->
                        <div class="post">
                            <div class="post-img">
                                <img src="img/blog-67.jpg" alt="blog-67">
                            </div>
                            <div class="post-info">
                                <h4>Why should i buy a smartwatch?</h4>
                                <p>January 12,2019</p>
                            </div>
                        </div>
                        <hr>
                        <!--Single Post-->
                        <div class="post">
                            <div class="post-img">
                                <img src="img/blog-68.jpg" alt="blog-68">
                            </div>
                            <div class="post-info">
                                <h4>The best augmented reality sunglasses</h4>
                                <p>January 12,2019</p>
                            </div>
                        </div>
                        <hr>
                        <!--Single Post-->
                        <div class="post">
                            <div class="post-img">
                                <img src="img/blog-69.jpg" alt="blog-69">
                            </div>
                            <div class="post-info">
                                <h4>12 Healthiest Food to eat for Breackfast</h4>
                                <p>January 12,2019</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Recent Posts-->
                <!--Featured And Author Posts-->
                <div class="featured-and-author-posts-container">
                    <!--Featured Posts-->
                     <div class="featured-posts-container">
                        <div class="post-type">
                            <h2>Featured Posts</h2>
                        </div>
                        <div class="featured-post">
                            <div class="article-type">
                                <h3>RECIPES</h3>
                            </div>
                            <div class="article-title">
                                <h2>Tips to Help You Quickly Prepare your Lunch</h2>
                            </div>
                        </div>
                     </div>   
                     <!--Author Posts-->
                     <div class="author-posts-container">
                        <div class="post-type">
                            <h2>Featured Author</h2>
                        </div>
                        <div class="author-post">
                            <div class="author-img">
                                <img src="img/avatar.jpg" alt="avatar">
                            </div>
                            <div class="author-post-content">
                                <div class="post-info">
                                    <h4>John Doe</h4>
                                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque deserunt fuga voluptate aperiam! A, corporis accusantium atque beatae voluptatem obcaecati sit fugiat rerum officiis exercitationem? Exercitationem, dolorem? Sint, atque tempora!</p>
                                </div>
                            </div>
                        </div>
                     </div>
               </div>
               <!--End Featured And Author Posts-->
            </div>   
            <!--End Top Main Posts-->
            <!--Main Slider nav-->
            <div class="slider-nav-container">
                <!--Chevron Left-->
                <div class="slider-chevron">
                    <i class="fas fa-chevron-left"></i>
                </div>
                <!--Gadgets-->
                <div class="option-type-container">
                    <h3>GADGETS</h3>
                </div>
                <!--Photograpy-->
                <div class="option-type-container">
                    <h3>PHOTOGRAPHY</h3>
                </div>
                <!--Lifestyle-->
                <div class="option-type-container">
                    <h3>LIFESTYLE</h3>
                </div>
                <!--Faschion-->
                <div class="option-type-container">
                    <h3>FASHION</h3>
                </div>
                <!--Recipes-->
                <div class="option-type-container">
                    <h3>RECIPES</h3>
                </div>
                <!--Travel-->
                <div class="option-type-container">
                    <h3>TRAVEL</h3>
                </div>
                <!--Chevron Right-->
                <div class="slider-chevron">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
            <!--End Main Slider nav-->


            <!--Core Main Articles-->
            <div class="core-articles-container"> 
                <!--Single Article (Make Friends)-->
                <div class="core-article-container">
                    <!--Img-->
                    <div class="core-article-img">
                        <img src="img/blog-54.jpg" alt="blog-54">
                    </div>
                    <!--Info-->
                    <div class="core-article-info-container">
                        <!--Date-->
                        <div class="article-date-container">
                            <div class="article-date">
                                <!--Day-->
                                <div class="day">
                                    <span>12</span>
                                </div>
                                <!--Month-->
                                <div class="month">
                                    <span>Jan</span>
                                </div>
                            </div>
                        </div>
                        <!--Info-->
                        <div class="article-info">
                            <!--Article Title-->
                            <div class="article-title">
                                <h2>How To Make Friends As a Grown-Up</h2>
                            </div>
                            <!--Article Description-->
                            <div class="article-description">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error natus amet molestiae laudantium deserunt alias est adipisci quo nesciunt beatae, quia nisi voluptas iure modi, placeat sequi. Non, optio nesciunt!</p>
                            </div>
                            <!--Article Details-->
                            <div class="article-details">
                                <!--Details-->
                                <div class="details-container">
                                    <!--Author-->
                                    <div class="detail">
                                        <i class="far fa-user"></i>
                                        <span>By</span>
                                        <a href="#">John Doe</a>
                                    </div>
                                    <!--Tags-->
                                    <div class="detail">
                                        <i class="far fa-folder"></i>
                                        <a href="#">Lifestyle</a>
                                        <span>,</span>
                                        <a href="#">Travel</a>
                                    </div>
                                    <!--Comments-->
                                    <div class="detail">
                                        <i class="far fa-comments"></i>
                                        <a href="#">12, Comments</a>
                                    </div>
                                </div>   
                                <!--Read More-->
                                <div class="read-more">
                                    <p>Read More</p>
                                </div> 
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>
                <!--End Single Article-->


                <!--Social Info**************************-->
                <div class="social-info-container">

                </div>
                <!--End Social Info-->

                  <!--Single Article (Pretty Face)-->
                  <div class="core-article-container">
                    <!--Img-->
                    <div class="core-article-img">
                        <img src="img/blog-55 (1).jpg" alt="blog-55-1">
                    </div>
                    <!--Info-->
                    <div class="core-article-info-container">
                        <!--Date-->
                        <div class="article-date-container">
                            <div class="article-date">
                                <!--Day-->
                                <div class="day">
                                    <span>12</span>
                                </div>
                                <!--Month-->
                                <div class="month">
                                    <span>Jan</span>
                                </div>
                            </div>
                        </div>
                        <!--Info-->
                        <div class="article-info">
                            <!--Article Title-->
                            <div class="article-title">
                                <h2>Simple Ways to Have a Pretty Face</h2>
                            </div>
                            <!--Article Description-->
                            <div class="article-description">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error natus amet molestiae laudantium deserunt alias est adipisci quo nesciunt beatae, quia nisi voluptas iure modi, placeat sequi. Non, optio nesciunt!</p>
                            </div>
                            <!--Article Details-->
                            <div class="article-details">
                                <!--Details-->
                                <div class="details-container">
                                    <!--Author-->
                                    <div class="detail">
                                        <i class="far fa-user"></i>
                                        <span>By</span>
                                        <a href="#">John Doe</a>
                                    </div>
                                    <!--Tags-->
                                    <div class="detail">
                                        <i class="far fa-folder"></i>
                                        <a href="#">Lifestyle</a>
                                        <span>,</span>
                                        <a href="#">Travel</a>
                                    </div>
                                    <!--Comments-->
                                    <div class="detail">
                                        <i class="far fa-comments"></i>
                                        <a href="#">12, Comments</a>
                                    </div>
                                </div>   
                                <!--Read More-->
                                <div class="read-more">
                                    <p>Read More</p>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Article-->


                <!--Social Info**************************-->
                <div class="social-info-container">

                </div>
                <!--End Social Info-->




                  <!--Single Article (Basket)-->
                  <div class="core-article-container">
                    <!--Img-->
                    <div class="core-article-img">
                        <img src="img/blog-56 (1).jpg" alt="blog-56-1">
                    </div>
                    <!--Info-->
                    <div class="core-article-info-container">
                        <!--Date-->
                        <div class="article-date-container">
                            <div class="article-date">
                                <!--Day-->
                                <div class="day">
                                    <span>12</span>
                                </div>
                                <!--Month-->
                                <div class="month">
                                    <span>Jan</span>
                                </div>
                            </div>
                        </div>
                        <!--Info-->
                        <div class="article-info">
                            <!--Article Title-->
                            <div class="article-title">
                                <h2>Ranking the greatest player in basketball</h2>
                            </div>
                            <!--Article Description-->
                            <div class="article-description">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error natus amet molestiae laudantium deserunt alias est adipisci quo nesciunt beatae, quia nisi voluptas iure modi, placeat sequi. Non, optio nesciunt!</p>
                            </div>
                            <!--Article Details-->
                            <div class="article-details">
                                <!--Details-->
                                <div class="details-container">
                                    <!--Author-->
                                    <div class="detail">
                                        <i class="far fa-user"></i>
                                        <span>By</span>
                                        <a href="#">John Doe</a>
                                    </div>
                                    <!--Tags-->
                                    <div class="detail">
                                        <i class="far fa-folder"></i>
                                        <a href="#">Lifestyle</a>
                                        <span>,</span>
                                        <a href="#">Travel</a>
                                    </div>
                                    <!--Comments-->
                                    <div class="detail">
                                        <i class="far fa-comments"></i>
                                        <a href="#">12, Comments</a>
                                    </div>
                                </div>   
                                <!--Read More-->
                                <div class="read-more">
                                    <p>Read More</p>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Article-->
                  <!--Single Article-->
                  <div class="core-article-container">
                    <!--Img-->
                    <div class="core-article-img">
                        <img src="img/blog-58 (1).jpg" alt="blog-58-1">
                    </div>
                    <!--Info-->
                    <div class="core-article-info-container">
                        <!--Date-->
                        <div class="article-date-container">
                            <div class="article-date">
                                <!--Day-->
                                <div class="day">
                                    <span>12</span>
                                </div>
                                <!--Month-->
                                <div class="month">
                                    <span>Jan</span>
                                </div>
                            </div>
                        </div>
                        <!--Info-->
                        <div class="article-info">
                            <!--Article Title-->
                            <div class="article-title">
                                <h2>Top Camper Trailer Towing Tips</h2>
                            </div>
                            <!--Article Description-->
                            <div class="article-description">
                                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error natus amet molestiae laudantium deserunt alias est adipisci quo nesciunt beatae, quia nisi voluptas iure modi, placeat sequi. Non, optio nesciunt!</p>
                            </div>
                            <!--Article Details-->
                            <div class="article-details">
                                <!--Details-->
                                <div class="details-container">
                                    <!--Author-->
                                    <div class="detail">
                                        <i class="far fa-user"></i>
                                        <span>By</span>
                                        <a href="#">John Doe</a>
                                    </div>
                                    <!--Tags-->
                                    <div class="detail">
                                        <i class="far fa-folder"></i>
                                        <a href="#">Lifestyle</a>
                                        <span>,</span>
                                        <a href="#">Travel</a>
                                    </div>
                                    <!--Comments-->
                                    <div class="detail">
                                        <i class="far fa-comments"></i>
                                        <a href="#">12, Comments</a>
                                    </div>
                                </div>   
                                <!--Read More-->
                                <div class="read-more">
                                    <p>Read More</p>
                                </div> 
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Single Article-->           
                    

            </div>
            <!--End Core Main Articles-->
        </main>
        <!--END MAIN-->

    </div>
    <!--END ID ROOT-->
    <script src="dist/app.js"></script>
</body>
</html>