/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*General*/
body{
    font-family: 'Montserrat', sans-serif;
}
p{
    color: $primary_text_color;
}
ul{
    @include default_ul;
    @include flex_row;
}
.fas{
    color: black;
}
hr{
    border-top: 1px solid $primary_text_color;
}
a{
    @include default_a;
}