/*Top Footer*/
.top-footer-container{
    @include footer_container;
    position: relative;
    background-color: $bg-color-top-footer;
    .relative-get-in-touch{
      @include get_in_touch;
    }
    .about-the-blog-container, .recent-posts-container, .recent-comments-container, .categories-container{
        @include flex_column;
        width: calc(100% / 4);
        margin-right: 15px;
        .post-img-container{
            margin-right: 10px;
        }
        .heading-container, p{
            margin: 10px 0;
        }
        .links-container{
            @include flex_row;
            flex-wrap: wrap;
            .single-link{
             @include top_footer_single_link;
            }
        }
        .comment-content{
            @include flex_row;
            align-items: center;
            flex-wrap: wrap;
            *{
                margin-right: 5px;
            }
            h4{
                color: $secondary_text_color;
            }
            i{
                color: $darken_primary_color;
            }
        }
        .post-container{
            @include flex_row;
            align-items: center;
            margin-bottom: 10px;
            img{
                border-radius: 50%;
            }
        }
        .post-text-container{
            @include flex_column;
            .content{
                color: $primary_text_color;
            }
        }
        .heading-container, .ending-container{
            h4{
                color: $secondary_text_color;
            }
            i{
                color: $secondary_text_color;
                margin-left: 5px;
            }      
        }
    }
}

/*Bottom Footer*/
.bottom-footer-container{
    @include footer_container;
    background-color: $bottom-footer-bg-color;
    .bottom-footer-logo-container, .bottom-footer-links-container{
        @include flex_row;
        align-items: center;
        .bottom-footer-link{
            margin-left: 10px;
            a, .fas{
                color: $primary_text_color;
            }
        }
        img{
            width: 60px;
            margin-right: 10px;
        }
    }
}