/*Top Header*/
.top-header-nav-container{
    @include flex_row;
    background-color: $bg-color-3;
    padding: $inner_padding;
    ul{
        li{
            color: $secondary_text_color;
            padding-left: 30px;
        }
    }
}

.header-logo-container{
    padding: $inner_padding;
        img{
            width: 150px;
        }
}

.header-nav-container{
    @include flex_row;
    justify-content: space-between;
    padding: $inner_padding;
    li{
        color: $primary_text_color;
        padding-right: 30px;
    }
    li:first-child{
        color: $primary_color;
    }
}

/*Article Title P And Hover*/
.article-title p{
    display: none;
}
.article-title:hover{
    p{
        @include p_hover;
    }
}