/*Top Header*/
.top-header-nav{
    @include flex_row;
    background-color: $primary_color;
    padding: $inner_padding;
    ul{
        li{
            color: $secondary_text_color;
            padding-left: 30px;
        }
    }
}

.header-logo-container{
    padding: $inner_padding;
        img{
            width: 150px;
        }
}