/*Top Main*/
/*Top Main Articles*/
.top-main-articles-container{
    @include flex_row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: $top_main_articles_bg_color;
    padding: $inner_padding;
}
.top-article-container-photography{
    @include top_articles;
    @include flex_column;
    background-image: url(../../img/blog-46.jpg);
    
}
.top-article-container-gadgets{
    @include top_articles;
    @include flex_column;
    background-image: url(../../img/blog-47.jpg);
}
.top-article-container-travel{
    @include top_articles;
    @include flex_column;
    background-image: url(../../img/blog-48.jpg);
}
.top-article-container-lifestyle{
    @include top_articles;
    @include flex_column;
    background-image: url(../../img/blog-49.jpg);
}
.top-article-container-travel-second{
    @include top_articles;
    @include flex_column;
    background-image: url(../../img/blog-50.jpg);
}
.top-article-container-recipes{
    @include top_articles;
    @include flex_column;
    background-image: url(../../img/blog-51.jpg);    
}
/*Top Main Posts*/
.top-main-posts-container{
    @include flex_row;
    @include top_posts;
}
/*Main Slider Nav*/
.slider-nav-container{
    @include flex_row;
    justify-content: space-between;
    align-items: center;
    background-color: $primary_color;
    padding: $inner_padding;
    .slider-chevron{
        font-size: 10px;
        cursor: pointer;
    }
    .option-type-container{
        padding: 5px 25px;
        background-color: $main-slider-nav-type-option-bg-color;
        cursor: pointer;
        h3{
            font-size: 15px;
            color: $secondary_text_color;
        }
    }
}
/*Main Core Articles*/
.core-articles-container{
    padding: $inner_padding;
    @include flex_row;
    flex-wrap: wrap;
    .page-slider-container{
        @include flex_row;
        justify-content: flex-end;
        width: 70%;
        .page-slider-option{
            padding: 10px;
            border: 1px solid $primary_text_color;
            cursor: pointer;
            span, .fas{
                color: $primary_color;
            }
        }
        .page-slider-option:hover{
            background-color: $primary_color;
            span, .fas{
                color: $secondary_text_color;
            }
        }
    }
    .core-article-container{
        width: 70%;
        margin-bottom: 10px;
        }
        .core-article-info-container{
            @include flex_row;
            padding: 10px;
            .article-info .article-details{
                @include flex_row;
                justify-content: space-between;
                align-items: center;
                .read-more{
                    @include read_more;
                }
                .details-container{
                    @include flex_row;
                    .detail{
                        margin: 0 5px;
                    }
                }
            }
            .article-info .article-title, .article-description, .article-details{
                margin-bottom: 10px
            }
            .article-date-container{
                width: 10%;
                margin-right: 10px;
                .article-date{
                    @include flex_column;
                    align-items: center;
                    .month{
                       @include month
                    }
                    .day{
                       @include day
                    }
                }
            }
        }
        img{
            width: 100%;
        }
        .core-article-img-in-six{
            @include flex_row;
            flex-wrap: wrap;
            img{
                width: calc(100% / 3);
            }
    }
    .social-info-container{
        @include flex_column;
        width: calc(30% - 10px);
        margin-left: 10px;
        .social-container{
            @include flex_column;
            margin-bottom: 10px;
            .page-link{
                border-left: 4px solid $primary_text_color;
                padding-left: 20px
            }
            .tag-list-container{
                @include flex_row;
                justify-content: space-between;
                .single-tag{
                    @include single_tag;
                }
            }
            .social-heading{
                margin-bottom: 10px;
            }
            .instagram-photos-container{
                @include flex_row;
                flex-wrap: wrap;
                img{
                    width: calc(100% / 3)
                }
            }
            .tweat-container{
                @include flex_column;
                .tweat-text{
                    @include flex_row;
                    margin-bottom: 5px;
                    i{
                        margin-right: 5px;
                    }
                }
                .tweat-date{
                    margin-left: 16px;
                    p{
                        color: $primary_color;
                    }
                }
            }
        }
        
    }
}