/*Flex*/
@mixin flex_row {
    display: flex;
}
@mixin flex_column {
    display: flex;
    flex-direction: column;
}

/*Ul*/
@mixin default_ul {
    list-style: none;
    cursor: pointer;
}

/*Articles*/
@mixin top_article {
    margin: 5px;
    width: calc(100% / 3 - 10px);  
    background-size: 100% 100%;
    padding: 10px;
    opacity: 0.9;
    justify-content: flex-end;
    height: 250px;
    cursor: pointer;
    .article-type{
        font-size: 8px;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: $primary_color;
        width: fit-content;
        color: $secondary_text_color;
    }
    .article-title{
        font-size: 12px;
        margin-top: 5px;
        color: $secondary_text_color;
    }
}