/*Flex*/
@mixin flex_row {
    display: flex;
}
@mixin flex_column {
    display: flex;
    flex-direction: column;
}

/*Ul*/
@mixin default_ul {
    list-style: none;
    cursor: pointer;
    li{
        font-weight: bolder;
    }
}

/*Links*/
@mixin default_a{
    text-decoration: none;
    color: $primary_color;
}

/*Top Main*/
/*Articles*/
@mixin top_articles {
    margin: 5px;
    width: calc(100% / 3 - 10px);  
    background-size: cover;
    padding: 10px;
    opacity: 0.9;
    justify-content: flex-end;
    height: 250px;
    cursor: pointer;
    .article-type{
        font-size: 8px;
        padding: 5px 10px;
        border-radius: 5px;
        background-color: $primary_color;
        width: fit-content;
        color: $secondary_text_color;
    }
    .article-title{
        font-size: 12px;
        margin-top: 5px;
        color: $secondary_text_color;
    }
}
/*Posts*/
@mixin top_posts {
    padding: $inner_padding;
    .popular-posts-container, .recent-posts-container, .featured-and-author-posts-container{
        @include flex_column;
        justify-content: space-between;
        width: calc(100% / 3 - 10px);
        margin: 0 5px;
        .featured-posts-container{
            .featured-post{
                opacity: 0.9;
                @include flex_column;
                justify-content: flex-end;
                padding: 10px;
                height: 200px;
                cursor: pointer;
                background-image: url(../../img/blog-66.jpg);
                background-size: cover;
                .article-type{
                    font-size: 8px;
                    padding: 5px 10px;
                    border-radius: 5px;
                    background-color: $primary_color;
                    width: fit-content;
                    color: $secondary_text_color;
                }
                .article-title{
                    font-size: 12px;
                    margin-top: 5px;
                    color: $secondary_text_color;
                }
            }
        }
        .author-posts-container{
            .author-post{
                @include flex_row;
                align-items: center;
                .author-post-content .post-info h4{
                    margin-bottom: 10px;
                }
                img{
                    width: 180px;
                    margin-right: 10px;
                }
            }
        }
        .post-type{
            margin-bottom: 10px;
        }
        .posts, .author-post-content{
            @include flex_column;
            .post{
                @include flex_row;
                align-items: center;
                padding: 5px;
                cursor: pointer;
                .post-info{
                    h4{
                        margin-bottom: 10px;
                    }
                }
                .post-img{
                    margin-right: 10px;
                    img{
                        width: 100px;
                    }   
                }     
            }
        }
    }
}

/*Core Main Articles*/
/*Day*/
@mixin day {
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
    background-color: $top_main_articles_bg_color;
}
/*Month*/
@mixin month {
    text-align: center;
    height: 20px;
    width: 50px;
    color: $secondary_text_color;
    background-color: $main-slider-nav-type-option-bg-color;
}
/*Read More*/
@mixin read_more{
    padding: 10px;
    border: 1px solid $top_main_articles_bg_color;
    border-radius: 10px
}
/*Single Tag*/
@mixin single_tag {
    padding: 5px;
    border-radius: 10px;
    background-color: $main-slider-nav-type-option-bg-color;
    color: $secondary_text_color;
}