/*COLORS*/
$primary_color: #0088CC;
/*Text Colors*/
$primary_text_color: #B7B7B7;
$secondary_text_color: #FFFFFF;
/*Background colors*/
$top_main_articles_bg_color: #F7F7F7;
$main-slider-nav-type-option-bg-color: #212529;


/*Inner Padding*/
$inner_padding: 30px 90px;